
/* ----------- login page -----------  */
.account {
    width: 500px;
}

.account-card {
    box-shadow: 0 0px 8px rgba(0, 0, 0, .3);
}

.feedback-form {
    border-style: solid;
    padding: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    box-shadow: 0 0px 8px rgba(0, 0, 0, .3);
}

.feedback-comment {
    background-color: whitesmoke;
    height: auto;
    border-style: solid;
    padding: 10px 17px 10px 17px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(207, 207, 207); 
}

























/*----------------- see later --------------*/
/* .login-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(25,119,204);
    padding: 200px;
}

.forms-div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 500px;
    background-color: white;
    padding: 70px 50px 80px 50px;
    border: none;
}

.content{

    border: none;  

}

.input-field{
width: 100%;
padding: 10px 1px;
border-bottom: 1px solid #747474;
outline: none;
margin-top:5%;  
border: none; 
}

.action{
    
margin-top:5%;
} */
