{% extends 'base.html' %}

{% block title %}Doctors{% endblock %}

{% block content %}

<script>
    document.getElementById("doctors").classList.add("active");
  </script>

<div class="container" style="margin-top: 100px ;"> 

    <!-- search for doctor name and show a table with name, email, specialty  -->

    <div class="row" style="margin-top: 50px;">
        <h2 class="col-12" style="text-align:center ; margin-bottom: 20px;">Seach for a doctor</h2>
        <div class="col-2"></div>
        <div class ="col-8" >

            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control" id="search" name="user_input" placeholder="Search for a doctor by name">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary" style="width: 120px;">Search</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-2"></div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-2"></div>
        <div class ="col-8" >
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Specialty</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for doctor in doctors %}
                        <tr>
                            <td>Dr.{{doctor.name}}</td>
                            <td>{{doctor.email}}</td>
                            <td>{{doctor.specialty}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}