{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <div class="account" style="width: 500px; margin: 200px auto 0 auto;">
        <div class="card account-card">

            <div style="text-align: center; margin: 35px 0 10px 0;">
                <h1 class="card-title">Login</h1>
            </div>

            <div class="card-body py-5 px-md-5">
                <form method="post">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email address</label>
                        <input type="email" id="email" class="form-control" name="email" required />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="password" required />
                    </div>

                    <!-- Submit button -->
                    <div style="text-align: center; margin-top: 50px;">
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Create account
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




<!-- <div class="center">
    <h1> Login </h1>
        <form method="post">
          <div class="txt_field">
             <input type="text" required>
              <label>Username</label>
           </div>
           <div class="txt_field">
           <input type="password" required>
           <label>Username</label>
           </div>
           <div class="txt_field">
            <input type="password" required>
             <label>password</label>
            </div>

            </form>
        </div> -->

