{% extends 'base.html' %}

{% block title %}My Appointments{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px ;"> 


    <!-- table with appoitments (date time doctor type status) -->

    <div class="row" style="margin-top: 50px;">

        <h2 class="col-12">My Appointments</h2>

        <div class="col-12">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>

                <tbody>

                    <!-- hard coded -->

                    <tr>

                        <td>2021-05-01</td>

                        <td>10:00</td>

                        <td>Dr. John</td>

                        <td>General</td>

                        <td>Confirmed</td>

                    </tr>

                    <tr>

                        <td>2021-05-02</td>

                        <td>11:00</td>

                        <td>Dr. John</td>

                        <td>General</td>

                        <td>Confirmed</td>
                    </tr>

                </tbody>

            </table>

        </div>

</div>

{% endblock %}