{% extends 'base.html' %}

{% block content %}

    <h1>Teste</h1>

    <form method="post">
        <div class="row">

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" value="{{ request.form['username'] }}" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" value="{{ request.form['email'] }}" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" value="{{ request.form['password'] }}" required>

            <button class="btn btn-primary" type="submit">Add user</button>

        </div>
    </form>



<body>
    <!-- partial:index.partial.html -->
    <div class="login-form">
      <form>
        <h1>Login</h1>
        <div class="content">
          <div class="input-field">
            <input type="email" placeholder="Email" autocomplete="nope">
          </div>
          <div class="input-field">
            <input type="password" placeholder="Password" autocomplete="new-password">
          </div>
          <a href="#" class="link">Forgot Your Password?</a>
        </div>
        <div class="action">
          <button>Register</button>
          <button>Sign in</button>
        </div>
      </form>
    </div>

{% endblock content %}