{% extends 'base.html' %}

{% block title %}Services{% endblock %}

{% block content %}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>eHealth-Corp clinic provides several services and each service has several high qualified doctors.</p>
        </div>

        <div class="row">          
          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Cardiology</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Dermatology</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="">Gastroenterology</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4><a href="">Neurology</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="">Ophthalmology</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Otolaryngology</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="">Pediatrics</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4><a href="">Psychiatry</a></h4>
            </div>
          </div>

          <div class="col-4">
            <div class="icon-box" style="border-radius: 5px; margin-bottom: 30px; box-shadow: 0 0px 8px rgba(0, 0, 0, .3);">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="">Urology</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->



<script>
    document.getElementById("services").classList.add("active");
</script>
{% endblock %}